@charset "utf-8";

/* Change the sheet width */

.openerp .oe_form_sheet_width {
    min-width: 50%;
    max-width: 85%;
    margin: 0 auto;
}

.openerp .oe_form_sheetbg
{
    padding: 16px;
}

.openerp .oe_form div.oe_chatter {
    min-width: 50%;
    max-width: 85%;
    margin: 0 auto;
}

.openerp .oe_followers {
    width: 250px;
}

.openerp .oe_record_thread {
    margin-right: 293px;
}